@{
    ViewBag.Title = "2PLAc3PH1";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<section id="sponsor">

    <link href="css/Horario/main.css" rel="stylesheet">

     
    YA NO SE QUE MAS HACER :/ horarios


    <div class="container3">
        <div class="row" style="margin-bottom: 70px;">
            <p></p>
            <div class="col-md-5">

            </div>
            <p></p>
            <div class="col-md-3">
                <img src="img/movilp.png" style="height: 250px; width: 250px;" />
                <h4>POR FAVOR COLOQUE SU DISPOCITIVO EN POCICION HORIZONTAL</h4>
            </div>
            <p></p>
            <div class="col-md-3">

            </div>
        </div>
    </div>


    <div class="container4">
        <div class="box">
            <!--/.center Preguntarle a la profesora en que forma quierer trabajar con los colores en la base de datos para horarios-------->

            <div class="row" style="margin-bottom: 70px;">
                <p></p>
                <div class="col-md-2">
                    <img src="img/Regrasar.png" style="height: 50px; margin-left: 0px; width: 50px;" />
                </div>
                <p></p>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Docente y Asignatura:">
                </div>
                <p></p>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Grupo:">
                </div>
                <p></p>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Turno:">
                </div>
            </div>
            <ul class="portfolio-filter" style="background-color:#6600cc; border-radius:5px; color:white;">
                <li><h5>&nbsp;&nbsp;&nbsp;&nbsp;Lunes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></li>
                <li><h5>&nbsp;&nbsp;&nbsp;&nbsp;Martes</h5></li>
                <li><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miercoles&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></li>
                <li><h5>Jueves&nbsp;&nbsp;</h5></li>
                <li><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viernes&nbsp;&nbsp;&nbsp;&nbsp;</h5></li>
            </ul>
            <ul class="portfolio-filter">
                <li><a class="btn btn-primary" href="#" title="7:00am-8:20am">L H1</a></li>
                <li><a class="btn btn-primary" href="#">M H1</a></li>
                <li><a class="btn btn-primary" href="#">MiH1</a></li>
                <li><a class="btn btn-primary" href="#">J H1</a></li>
                <li><a class="btn btn-primary" href="#">V H1</a></li>

            </ul>
            <ul class="portfolio-filter">
                <li><a class="btn btn-primary" href="#">L H2</a></li>
                <li><a class="btn btn-primary" href="#">M H2</a></li>
                <li><a class="btn btn-primary" href="#">MiH2</a></li>
                <li><a class="btn btn-primary" href="#">J H2</a></li>
                <li><a class="btn btn-primary" href="#">V H2</a></li>

            </ul>
            <ul class="portfolio-filter">
                <li><a class="btn btn-primary" href="#">L H3</a></li>
                <li><a class="btn btn-primary" href="#">M H3</a></li>
                <li><a class="btn btn-primary" href="#">MiH3</a></li>
                <li><a class="btn btn-primary" href="#">J H3</a></li>
                <li><a class="btn btn-primary" href="#">V H3</a></li>

            </ul>
            <br />
            <img src="img/AdmPro/Actualizar.png" style="margin-top: 50px; width: 50px; height: 50px;">
        </div><!--/.box-->
    </div><!--/.container-->
</section>