@{
    ViewBag.Title = "2PlAc3";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<section id="sponsor">
    <a name="ancla4"></a>
    <a href="@Url.Action("PlanifAcadMain", "PlanificacionAcad")#ancla3">
        <img src="~/Content/img/Regrasar.png" style="height: 50px; margin-left: 0px; width: 50px;" />
    </a>

    <p></p>
    <h2>PLANIFICACIÓN HORARIA</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-9">
                <!--seleccion del grupo-->
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col-md-10">
                        <h4 style="padding-left: 10px; text-align: left;">ELIJA EL GRUPO A TRABAJAR HORARIO.</h4>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Buscar Grupo:">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col-md-10">
                        <h4 style="padding-left: 10px; text-align: left;">DOCENTES ASIGNADOS AL GRUPO.</h4>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-6">
                        <textarea class="form-control" placeholder="minimo de docentes por grupo '4', maximo '7'" name="message" rows="12"></textarea>
                    </div>
                    <br />
                    <div class="col-md-5">
                        <h4 style="padding-left: 10px;">VER HORARIOS ACTUALES.</h4>
                        <h2 style="padding-left: 10px; color: black;">2017</h2>
                        <img src="~/Content/img/horario%20calendario.png" />
                    </div>
                </div>
                <!-- fin -->
            </div>
        </div>

    </div>
</section>
