@{
    ViewBag.Title = "2PLAc3PH2v";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<section id="sponsor">

    <a href="1AdProf.aspx">
        <img src="img/Regrasar.png" style="height: 50px; margin-left: 0px; width: 50px;" />
    </a>
    <h2>ver horarios</h2>


    <div class="container">
        <div class="row" style="margin-bottom:0px;">
            <p></p>
            <div class="col-md-4">

            </div>
            <p></p>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Carrera:">
            </div>

        </div>
        <div class="row" style="margin-bottom:0px;">
            <p></p>
            <div class="col-md-4">

            </div>
            <p></p>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Departamento:">
            </div>

        </div>
        <div class="row" style="margin-bottom: 0px;">

            <p></p>
            <div class="col-md-4">

            </div>
            <p></p>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Docente y Asignatura:">
            </div>

        </div>
        <div class="row" style="margin-bottom: 0px;">

            <p></p>
            <div class="col-md-4">

            </div>
            <p></p>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Grupo:">
            </div>

        </div>
        <div class="row" style="margin-bottom: 0px;">

            <p></p>
            <div class="col-md-4">

            </div>
            <p></p>
            <div class="col-md-4">
                <img src="img/buscar.png" style="height: 25px; margin-top: 10px; width: 25px;" />
            </div>

        </div>
        <div class="row" style="margin-bottom: 0px;">

            <p></p>
            <div class="col-md-3">

            </div>
            <p></p>
            <div class="col-md-6">
                <textarea class="form-control" placeholder="aqui las busquedas con titulos de los PDF y se abren" rows="40"></textarea>
            </div>

        </div>

    </div>

</section>
