@{
    ViewBag.Title = "ActividadDocente";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}
<a name="ancla1"></a>
<a name="ancla3"></a>
<section id="about" class="container">
    <div class="row">
        <div class="col-md-3">
            <span>
                <a href="@Url.Action("POI","ActividadDocente")#ancla4">
                    <img src="~/Content/img/ActDoc/POI.png" />
                </a>
            </span>
            <br>
            <h3>Plan Operativo Individual.</h3>
            Elaboración del POI, contiene actividades a realizar, requiere: fechas de entrega, evidencias y observaciones.
            <p></p>
        </div>

        <div class="col-md-3">
            <span>
                <a href="@Url.Action("ICCC","ActividadDocente")#ancla4">
                    <img src="~/Content/img/ActDoc/informe CCC.png" />
                </a>
            </span>
            <br>
            <h3>Informe Cualitativo, Cuantitativo y de Consultas.</h3>
            Elaboración de informe cuantitativo por grupos de clases.
            <p></p>
        </div>

        <div class="col-md-3">
            <span>
                <a href="@Url.Action("IAGCAS1", "ActividadDocente")#ancla4">
                    <img src="~/Content/img/ActDoc/IAGCAS.png" />
                </a>
            </span>
            <br>
            <h3>Informe Académico por Grupo de Clases Asistido en Semestre</h3>
            La Primera página en cuesta general de actividades dentro de la universidad. Siguientes, actividades desarrolladas en cada grupo clase.
            <p></p>
        </div>

        <div class="col-md-3">
            <span>
                <a href="@Url.Action("RP","ActividadDocente")#ancla4">
                    <img src="~/Content/img/ActDoc/JD.png" />
                </a>
            </span>
            <br>
            <h3>Registro de progreso.</h3>
            Solo jefe de departamento???.<!-------lo dejamos aparte????????????????????????????--->
        </div>

    </div>
</section>

