@{
    ViewBag.Title = "1AdCG";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<a name="ancla4"></a>
<section id="sponsor">
    <a href="@Url.Action("Administrar","Administracion")#ancla3">
        <img src="~/Content/img/Regrasar.png" style="height: 50px; margin-left: 0px; width: 50px;" />
    </a>
    <h2>CREACIÓN DE LOS GRUPOS DE CLASES</h2>
    <form>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Carrera:" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{4,48}" required>
               
                <p></p>
                <textarea class="form-control" placeholder="AQUI VAN A IR LAs CARRERA" name="message" rows="9"></textarea><!-----------consulta, muestra todas las carreras de la BD------------>
                <br>
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col-md-4">
                        <h4>Año</h4>
                    </div>
                    <div class="col-md-5">
                        <h4>
                            <select>
                                <option value="1">Primero</option>
                                <option value="2">Segundo</option>
                                <option value="3">Tercero</option>
                                <option value="4">Cuarto</option>
                                <option value="5">Quinto</option>
                            </select>
                        </h4>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col-md-4">
                        <h4>Turno</h4>
                    </div>
                    <div class="col-md-5">
                        <h4>
                            <select>
                                <option value="M">Matutino</option>
                                <option value="N">Nocturno</option>
                                <option value="T">Vespertino</option>
                            </select>
                        </h4>
                    </div>
                </div>
                <br>
                <input type="text" class="form-control" placeholder="Grupo:" pattern="([1-5][M|T|N][1-5]-[CO|TQ|EL]{2})" required>
                
                <br>
                <input type="text" class="form-control" placeholder="Semestre:" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-(0-9)]{4,48}" required><!--------------------------------consulta, busca el ultimo semestre guardado en el sitema y lo muestra----------------------------->
            </div>
            <div class="col-md-3" style="padding-left: 10px;">
                <h4 style="margin-bottom: 0px;">Grupos</h4>
                <textarea class="form-control" placeholder="AQUI VAN A IR LOS GRUPOS QUE YA ESTAN CREADOS EN LA CARRERA" name="message" rows="5"></textarea>
            </div>
        </div>
    <input name="boton1" type="image" src="~/Content/img/guardar.png" style="margin-top: 0px; width: 50px; height: 50px;">
    </div>
    </form>

</section>